:root{
    --border-radius: 10px;
    --line-height: 1.2em;
    --section-width: 90%;

    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);

    --blue: hsl(248, 32%, 49%);

    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: white;
}

html{
    background-color: var(--red);
    background-image: url('images/bg-intro-desktop.png');
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-blue);
    font-weight: 500;
    opacity: 1; /* Firefox */
  }

::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-blue);
    font-weight: 500;
    opacity: 1; /* Firefox */
  }

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-blue);
    font-weight: 500;
    opacity: 1; /* Firefox */
  }

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-blue);
    font-weight: 500;
    opacity: 1; /* Firefox */
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--grayish-blue);
    font-weight: 500;
    opacity: 1; /* Firefox */
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--grayish-blue);

}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--grayish-blue);
}

body{
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

#container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5em 1fr;
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    margin: 0 auto;
    gap: 1.5em;
}

#intro-text{
    max-width: var(--section-width);
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

#intro-text h1{
    font-size: 2.7em;
    line-height: var(--line-height);
    margin-bottom: 0.6em;
}

button{
    border: none;
    border-radius: var(--border-radius);
    padding: 1em;
    width: 100%;
    cursor: pointer;
}

#card-container{
    max-width: var(--section-width);
}

#card-wrapper{
    background-color: white;
    border-radius: var(--border-radius);
}

#form-stuff{
    max-width: 85%;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

#card-wrapper, button#free-trial{
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.24);
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.24);
}

button#free-trial{
    background-color: var(--blue);
    margin-bottom: 2em;

    font-weight: 400;
}

button#claim-free-trial{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    background-color: var(--green);
    margin-bottom: 1em;
    border-bottom: 4px solid rgba(0,0,0,0.24);
}

a{
    color: var(--red);
    text-decoration: none;
    font-weight: 700;
}

form{
    display: -ms-grid;
    display: grid;
}

input{
    border-radius: 5px;
    border: 1px solid var(--grayish-blue);
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1.7em;
    padding-right: 1.7em;
    margin-bottom: 1.5em;
    color: #000;
    width: 100%;
}

input[type=text]:focus{
    outline: 1px solid var(--blue);
}

p#terms-agreement{
    color: var(--grayish-blue);
    font-size: 0.7em;
    text-align: center;
}

p#terms-agreement a{
    font-size: 1em;
}

@media screen and (max-width:750px){
    #container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 4em;
        margin-bottom: 4em;
    }

    #intro-text{
        text-align: center;
    }

    #card-container{
        margin: 0 auto;
    }

    #intro-text h1{
        font-size: 1.8em;
    }

    #intro-text p{
        font-size: 0.9em;
    }
}